# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.env

# Django
*.sqlite3
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Mac/Linux
.DS_Store
